@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.landing-page__banner {
    padding-top: $spacing-05;
    padding-bottom: $spacing-05 ;
    padding-left: $spacing-05;
  }